[package]
name = "nvdl"
version = "0.1.2"
edition = "2024"
authors = ["Quin Gillespie <trypsynth@gmail.com>"]
categories = ["accessibility", "command-line-utilities", "web-programming::http-client"]
description = "Retrieve a direct download link or download the NVDA screen reader."
keywords = ["cli", "nvda", "downloader", "nvda_url"]
license = "Zlib"
repository = "https://github.com/trypsynth/nvdl"
readme = "README.md"

[dependencies]
anyhow = "1.0.99"
clap = { version = "4.5.47", features = ["derive"] }
dialoguer = "0.12.0"
nvda_url = "0.1.3"
reqwest = { version = "0.12.23", default-features = false, features = ["blocking", "json", "rustls-tls-webpki-roots"] }
tokio = { version = "1.47.1", features = ["full"] }

[profile.release]
strip = true
opt-level = "z"
lto = true
panic = "abort"
codegen-units = 1
